---
layout: default
---

<article class="article">
  <h2 class="article__title article__title--single">{{ page.title }}</h2>
  <time class="article__date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{% if page.author %}By {{ page.author}} on {% endif %}{{ page.date | date: "%b %d, %Y" }}</time>
  {% if page.categories and page.categories.size>0 %}
    <time class="article__date">
      Categories: {{page.categories | join: ", "}}
    </time>
    {% if page.reading == 0 or page.reading==False%}
      <br> 
    {% endif %}

  {% endif %}
  {% if page.reading %}
  <time class="article__date">
    reading time: ~{{page.reading}} minutes
  </time>
  <br>
{% endif %}
  {% if page.cover %}
    <div class="cover">
      <img src="{{ page.cover }}">
    </div>
  {% endif %}
  {{ content }}
  {% if page.tail %}
    <div class="post-tags">{{ page.tail }}</div>
  {% endif %}
</article>
